* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
#wrap {
    overflow: hidden;
    width: 850px;
    border: 1px solid black;
    margin: 100px auto;
}
#wrap ul {
    position: relative;
    display: flex;
    width: 5000px;
}
#wrap ul li {
    margin-right: 10px;
}