* {
    margin: 0;
    padding: 0;
}
ol {
    list-style: none;
}
#wrap {
    overflow: hidden;
    position: relative;
    width: 1030px;
    height: 580px;
    margin: 200px auto 0;
}
#wrap .imglist {
    position: relative;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    transition: .7s ease;
}
#wrap .imglist img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#wrap a {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 40px;
    height: 70px;
    background: rgba(0, 0, 0, .5);
    color: white;
    user-select: none;
    line-height: 70px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
#wrap a.left {
    left: 0;
}
#wrap a.right {
    right: 0;
}
#wrap .circles {
    position: absolute;
    bottom: 13px;
    left: 50%;
    z-index: 99999;
    width: 180px;
    margin-left: -90px;
}
#wrap .circles li {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 14px;
    background-color: rgba(82, 228, 220, 0.794);
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#wrap .circles li.active {
    width: 32px;
}