*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
ul {
    list-style: none;
}
#wrap {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(180deg, #8cc1de, #f9a886);
}
#wrap .content {
    display: flex;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding-top: 80px;
}
#wrap .content .left {
    flex: 1;
    padding: 60px 20px;
    background-color: #fff;
}
#wrap .content .right {
    flex: 1;
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
#wrap .content .left-top {
    color: #f60;
}
#wrap .content .left-top a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}
#wrap .content .left-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
#wrap .content .left-bottom li {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #aaa;
    color: #aaa;
    cursor: pointer;
}
#wrap .content .left-bottom li i {
    cursor: pointer;
    font-size: 24px;
    margin-left: 5px;
    padding: 5px;
}
#wrap .content .left-bottom li:hover i {
    color: red;
}
#wrap .content .right ul {
    display: flex;
    flex-wrap: wrap;
}
#wrap .content .right li {
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid #fff;
}